.admin-setting-group {
    margin-left: 4px;
    margin-top: 1px;
}

.admin-setting-container h5 {
    margin-left: 18px;
    margin-bottom: -15px;
    font-size: 1.5rem;
    font-weight: 100;
}

.admin-setting-container ul {
    list-style-type: none;
    margin-left: -21px; 
}