<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>TGH Angular Template</nb-card-header>
            <nb-card-body>
                The TGH Angular template is based off of the <a href="https://github.com/akveo/ngx-admin" target="_blank">ngx-admin</a> template.

                <p>To begin a new angular project, <a href="https://tgh-it.visualstudio.com/TGH%20IT/_wiki/wikis/TGH-IT.wiki?pagePath=%2FTechnical%20Development%2FInternal%20Development%2FNew%20Project%20%252D%20Angular&pageId=139&wikiVersion=GBwikiMaster" target="_blank">follow these instructions.</a></p>
            </nb-card-body>
        </nb-card>
    </div>
</div>
