<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Editor Demo</nb-card-header>
      <nb-card-body>
        
        <div class="row">
          <div class="col-md-12">
              <quill-editor #editor
                [(ngModel)]="content"
                id="editor"
                [modules]="modules"
                name="editor">
              </quill-editor>
          </div>
        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12">
            String Result:
          </div>
          <div class="col-md-12">
            {{content}}
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
